
    <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
      <a href="//www.dmca.com/Protection/Status.aspx?ID=19367a82-4c50-4473-86ca-5bd54fdf294c" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=19367a82-4c50-4473-86ca-5bd54fdf294c" alt="DMCA.com Protection Status" /></a>
      <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>© All rights reserved. Made by
      <a class="nav-link d-inline-block p-0" href="https://discord.com/users/857177733398265876" target="_blank" rel="noopener">itzmapxor</a>
    </p>
  </div>
</footer>

<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll>
  <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
  <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>

<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/assets/vendor/rellax/rellax.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/parallax-js/dist/parallax.min.js"></script>
<script src="/assets/vendor/prismjs/components/prism-core.min.js"></script>
<script src="/assets/vendor/prismjs/components/prism-markup.min.js"></script>
<script src="/assets/vendor/prismjs/components/prism-clike.min.js"></script>
<script src="/assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

<link rel="stylesheet" media="screen" href="/assets/vendor/boxicons/css/boxicons.min.css" />
<link rel="stylesheet" media="screen" href="/assets/vendor/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" media="screen" href="/assets/css/theme.min.css">

<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<amp-ad width="100vw" height="320" type="adsense" data-ad-client="ca-pub-4793022343319587" data-ad-slot="4795431729" data-auto-format="rspv" data-full-width="">
  <div overflow=""></div>
</amp-ad>

<% if (!req.url.includes("/bot/")) { %>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4793022343319587" crossorigin="anonymous"></script>
<Script>
  let headers = document.querySelectorAll("h1" || "h2" || "h3" || "h4" || "h5" || "h6");
  // add one random add after each header
  let ads = [
    '6991431799',
    '3535440504',
    '6640912158'
  ];
  for (let i = 3; i < headers.length; i++) {
    var random = Math.floor(Math.random() * ads.length);
    let ad = document.createElement("ins");
    ad.className = "adsbygoogle";
    ad.style = "display:block; text-align:center;";
    ad.dataset.adClient = "ca-pub-4793022343319587";
    ad.dataset.adSlot = ads[random];
    ad.dataset.adFormat = "auto";
    ad.dataset.fullWidthResponsive = "true";
    headers[i].parentNode.insertBefore(ad, headers[i].nextSibling);
    let script = document.createElement("script");
    script.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4793022343319587";
    script.crossOrigin = "anonymous";
    headers[i].parentNode.insertBefore(script, headers[i].nextSibling);
    (adsbygoogle = window.adsbygoogle || []).push({});
  }
</Script>
<% } %>

<script src="/assets/js/theme.min.js"></script>